

        @keyframes mouse-fly {
            0% {
                opacity: 1;
                filter: hue-rotate(300deg);
                transform: translate(-50%, -50%);
            }

            100% {
                transform: translate(100%, -300%);
                opacity: 0;
                filter: hue-rotate(1020deg);
            }
        }
   



@keyframes delay-cycle {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes load {
   to {opacity: 1;
      width: 100vw;
    }
}



#thongbao button:hover {
  background-color: #0069d9;
}


form button:active {
  background-color: black;
  border: 2px solid purple;
  color: white;
}




form select:hover {
  background-color: black;
  border: 1px solid green;
  color: white;
}


/*#toolg button:hover, #toggle-delta:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}*/


.bo-tron-toolg {
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 50%;
}


#reset:active {
  background-color: red;
  border: 2px solid violet;
  color: whitesmoke;
}

        #suggestions div:hover {
            background-color: #f0f0f0;
        }


/* .mui-ten-len:hover {
   border: 7px solid black;
 }*/

.Hello:active {
  background: pink;
  color: white;
}

.app-android a .appmott:hover, .app-android a .apphaii:hover {
  border: none;
  border-radius: 30%;
  background-color: pink;
}


#back-to-top:hover {
  overflow: 0.5;
}
